.cbt-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
    
}
.cbt-row > div{
    border: solid rgb(60, 107, 106) 2px;
    padding: 5px 10px 5px 10px;
    background-color: violet;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;    
}
.input1{
    width: 240px;
    height: 30px;
    border: solid rgb(16, 245, 176) 2px;
    border-radius: 10px;
    margin-top: 10px;
}
.main{
    background-color: aqua;
    width: 300px;
    height: 330px;
    margin: auto;
    border-radius: 20px;
}